// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-modal {
    display: block;
}

.signin-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 340px;
    padding: 30px;
    background: #fff;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.342);
    display: flex;
    flex-direction: column;
    align-items: center;

    .errors {
        position: relative;
        transform: translate(4%, 4%);
    }

    .signin-close {
        text-decoration: none;
        position: fixed;
        font-size: 40px;
        color: $light-black;
        transform: translate(490%, -60%);
        cursor: pointer;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-radius: 50%;
    }

    .signin-close:hover {
        background: #d0d0d0;
    }

    h1 {
        font-size: 30px;
        font-weight: 500;
        margin-top: 15px;
    }

    input {
        display: grid;
        outline: 0;
    }

    input:focus {
        box-shadow: 0 0 7px 2px rgba(0, 68, 255, 0.842);
    }
}

// SIGN IN MODAL SESSION FORM

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.modal-background.addPin {
    background: rgba(255, 255, 255, 0)
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit {
    align-items: stretch;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.07rem;
    background-color: $red;
    border-radius: 25px;
    border: none;
    width: 250px;
}

.submit:active {
    height: 38px;
    width: 240px;
    font-size: 13px;
}

.sign-in-sub-header {
    margin-top: 10px;
    font-size: 16px;
}

.input {
    margin-top: 10%;

    p {
        justify-content: space-around;
    }

}

.or-other-form {
    position: fixed;
    top: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 600;

    :last-child {
        font-weight: 600;
        background-color: white;
    }
}

.demo-login {
    position: fixed;
    top: 90%;
    width: 100%;
    height: 10%;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
}

.demo-login:hover {
    background-color: rgb(182, 182, 182);
}

.errors {
    width: 20em;
}