@import "variables";

.home-div {
  padding: 0 30px 0 30px;
  margin-top: 5em;
}

.my-masonry-grid {
    // grid-template-columns: repeat(auto-fill, 250px);
    // display: grid;
    // justify-content: center;
    // width: 100%;
    // column-gap: 0.5em;
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonary-grid_column > div {
  margin-bottom: 30px;
}

.pin-index-title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
}

.pin-index-about {
    // margin-top: 3px;
  font-size: 11px;
  margin-left: 20px;
}

.pin-index-div {
    // align-items: center;
    // background-color: black;
  width: 100%;
    // margin: 0 0 0;
    // padding: 10px;
    // overflow: hidden;
}

// REPLACING IMAGE WITH PHOTO FOR LESS AWS GET REQUESTS

.pin-index-photo {
  margin: 15px 10px;
  width: var(--pin_width);
  height: var(--pin_medium);
  border-radius: var(--pin_border_radius);

 :hover {

  }
}

.pin-index-image {
  margin: 15px 10px;
  height: 20em;
  width: 20em;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: var(--pin_border_radius);
  background-image: image-url('travel5.jpg');
}

.pin-index-image:hover {
    // background-image: image-url('travel6.jpg');
    // background-color: rgba(0, 0, 0, 0.308);
  background-size: cover;
}

.profile-button-div {
  display: flex;
  align-items: center;
}

.profile-button-div > span {
  margin-left: -5px;
}

.profile-button-div:hover span {
  // text-decoration: underline;
  cursor: pointer;
}

.pin-index-div
.profile-button {
  margin-left: 20px;
}
.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: $grey-hover;
  top: 10px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.pin-index-div .profile-button:hover {
  // background-color: $grey-hover;
}

.pin-index-div button.profile-button:active {
  // border:black;
  // outline-color: blue;
  // box-shadow: none;
}