@import "variables";

// LANDING PAGE NOT LOGGED IN
.landing {
    display: flex;
    justify-content: center;
    // justify-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 88vh;
    // height: 100%;
    width: 100%;
    // width: 100em;
    // width: 100vh;

    .fade {
        position: absolute;
        transform: translate(0px, 35em);
        height: 30em;
        width: 100%;
        background: linear-gradient(180deg,rgba(255, 255, 255, 0), white);
        opacity: 0.5;
    }
}

.landing-header {
    display: grid;
    justify-content: center;
    font-weight: 500;
    // position: relative;

    .landing-title {
        padding: 20px;
        font-size: 60px;
        // position: relative;

        h1 {
            font-size: 60px;
            color: $black;
            font-weight: 450;
            text-align: center;
        }

        .idea-module {
            // display: none;
            text-align: center;
            color: $faded-green;
        }
    }
}

.landing-imgs {
    grid-template-columns: repeat(7, 1fr);
    // grid-template-rows: repeat(15, 1fr);
    display: grid;
    // margin: 0 auto;
    gap: 1em;
    position: relative;
    top: 2em;

    // .overflow {
    //     position: absolute;
    //     left: 100%;
    //     width: 50px;
    //     height: 50px;
    //     opacity: 0;
    // }
    div {
        // background: black;
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        height: 35em;
        width: 20em;
        background-size: auto;
        background-repeat: no-repeat;
        // padding: 17vh;
}

    .one {
        background-image: image-url('travel.jpg');
    }

    .two {
        background-image: image-url('travel1.jpg');
        margin-top: 8em;
    }

    .three {
        background-image: image-url('travel2.jpg');
        margin-top: 16em;
    }

    .four {
        background-image: image-url('travel3.jpg');
        margin-top: 24em;
    }

    .five {
        background-image: image-url('travel4.jpg');
        margin-top: 16em;
    }

    .six {
        background-image: image-url('travel5.jpg');
        margin-top: 8em;
    }

    .seven {
        background-image: image-url('travel6.jpg');
    }

    .eight {
        background-image: image-url('travel7.jpg');
        // position: fixed;
        transform: translate(0, -24em);
    }

    .nine {
        background-image: image-url('./images/travel8.jpg');
        transform: translate(106em, -24em);
        // position: fixed;
        // top: -43em;
        // right: -185em;
    }
}
