@import "variables";
// LANDING PAGE NOT LOGGED IN
.landing-header{
    display: grid;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;

    .landing-title {
        padding: 20px;
        font-size: 60px;

        h1 {
            font-size: 60px;
            font-weight: 500;
            color: $black;
            text-align: center;
        }

        ul {
            display: none;

        }
    }
}

.landing-imgs {
    grid-template-columns: repeat(7, 1fr);
    // grid-template-rows: minmax(20vh, auto);
    display: grid;
    margin: 0 auto;

    // .overflow {
    //     position: absolute;
    //     left: 100%;
    //     width: 50px;
    //     height: 50px;
    //     opacity: 0;
    // }
}

.landing-imgs div{
    background: black;
    border: 1px solid white;
    color: white;
    height: 45vh;
    width: 35vh;
    // padding: 17vh;
}