.profile-div {
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    display: grid;
    justify-content: center;

    .profile-name {
        grid-column: 3 / span 2;
        justify-self: center;
        font-size: 18px;
    }

    .profile-add-board {
        grid-column: 6/7;
        grid-row: 4/5;
        justify-self: start;
        right: 20px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 35px;
        text-align: center;
        line-height: 22px;
        background-color: white;
    }

    .profile-add-pin {
        grid-column: 5/6;
        grid-row: 4/5;
        justify-self: end;
        right: 20px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 35px;
        text-align: center;
        line-height: 22px;
        background-color: white;
    }

    .profile-add-board:hover,
    .profile-add-pin:hover {
        background-color: #d0d0d0;
    }
}

.pin-board-modal {
    // background-color: white;
    position: relative;
    top: 50px;
    width: 15em;
    height: 10em;
    display: flex;
    flex-direction: column;
    // align-items:;
    border-radius: 8px;
    border: 2px solid black;
    text-decoration: none;

    .button,
    Link {
        background-color: white;
        text-decoration: none;
        font-size: 20px;
    }
}

span.profile-board-index {
    grid-column: 1/6;
    grid-row: 5/12;
    // display: flex;
}



.profile-div-container {

    // display: grid;
    // grid-template-columns: repeat(auto-fill, 500px);
    // grid-auto-rows: 250px;


    .board-index-img {
        width: 240px;
        height: 155px;
    }
}

