.profile-div {
    margin-top: 8em;
    // padding-top: 15em;
}

.profile-name {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .profile-user-name {
        font-size: 16px;
        font-weight: normal;
        margin-top: 0.5em;
    }
    
    img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        margin-bottom: 0.5em;
    }
}

.pin-board-modal {
    position: fixed;
    top: 50px;
    width: 15em;
    height: 10em;
    border-radius: 8px;
    border: 2px solid black;
    text-decoration: none;
    
    .button,
    Link {
        background-color: white;
        text-decoration: none;
        font-size: 20px;
    }
}

.profile-div-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-left: 5em;
    margin-top: -9em;
}

.profile-add-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2em;
}

.profile-add-button {
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    line-height: 22px;
    background-color: white;
    margin-top: 6vh;
    z-index: 5;

    svg {
        width: 40px;
        height: 40px;
        transform: translate(-2%, 10%);
    }
}

.profile-add-button:hover {
    background-color:#f0ececf1 ;
}

.profile-add-buttons {
    visibility: hidden;
    height: 80px;
    width: 135px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.219);
    transform: translateY(10px);


    button {
        margin-left: -10px;
        padding: 10px;
        background-color: white;
        font-size: 16px;
        font-weight: 600;
        width: 150px;
        height: 35px;
        border-radius: 10px;
        text-align: left;
    }
    
    .profile-add-pin {
        margin-top: 5px;
    }

    button:hover {
        background-color:#dfdfdf;
    }
}

.profile-add-button.isActive {
    background-color: black;
    color: white;
}

.profile-add-buttons.isActive {
    visibility: unset;
}


