@import "variables";

.x-close {
  text-decoration: none;
  position: fixed;
  font-size: 40px;
  color: $light-black;
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
}

.x-close.signin {
  transform: translate(490%, -60%);
}

.x-close.edit {
      transform: translateX(1300%);
  z-index: 11;
}

.x-close.pinform {
  transform: translate(1323%, -49%);
}

.x-close:hover {
  background: #d0d0d0;
}