$red:#e60023;
$red-hover:#ad081b;
$black: #111111;
$light-black: #211922e1;
$grey: #EFEFEF;
$grey-hover: #d0d0d0;
$pink: #C28B00; // change this
$vibe-green: #0076D3;
$green: #407A57;
$faded-green:#618C7B;
