$red:#e60023;
$red-hover:#ad081b;
$black: #111111;
$light-black: #211922e1;
$grey: #EFEFEF;
$grey-hover: #d0d0d0;
$vibe-green: #0076D3;
$green: #407A57;
$faded-green:#618C7B;

// HOME PAGE https://www.w3schools.com/css/css3_variables.asp
:root {
    --pin_width: 235px;
    --pin_border_radius: 16px;
    --row_increment: 33;
    --pin_small: 26;
    --pin_medium: 33;
    --pin_large: 45;
}